.wp-admin.toplevel_page_wp_nightly {
	line-height: 1.6;
	height: auto;
}

.wp-nightly-dashboard #wpcontent {
	padding-left: 0;
	min-height: 100vh;
}

#wp-nightly {
	--wp-admin-theme-color: #3858e9;
	--wp-admin-theme-secondary-color: #E2E2E2;
	--wp-admin-theme-black-color: #2F3250;
	--wp-admin-theme-border-color: #e8e8eb;
}

#wp-nightly .route-fade-enter-active,
#wp-nightly .route-fade-leave-active {
	transition: all .2s
}

#wp-nightly .route-fade-enter,
#wp-nightly .route-fade-leave-active {
	opacity: 0
}

#wp-nightly .route-fade-enter {
	transform: translateX(30px)
}

#wp-nightly .route-fade-leave-active {
	transform: translateX(-30px)
}


#wp-nightly *,
#wp-nightly :after,
#wp-nightly :before {
	box-sizing: inherit;
}

#wp-nightly h1,
#wp-nightly h2,
#wp-nightly h3,
#wp-nightly h4,
#wp-nightly h5,
#wp-nightly h6 {
	color: var(--wp-admin-theme-color);
	line-height: 1.3;
	font-weight: 600;
}

#wp-nightly,
#wp-nightly p {
	font-size: 16px;
}

#wp-nightly p {
	color: #1A202C;
}

#wp-nightly a {
	color: var(--wp-admin-theme-color);
	text-decoration: none;
}

#wp-nightly {
	min-height: calc(100vh - 100px);
	box-sizing: border-box;
	position: relative;

	.wpn-container {
		margin-left: auto;
		margin-right: auto;
	}

	@media only screen and (min-width: 1042px) {
		.wpn-container {
			max-width: 75rem;
		}
	}

	@media only screen and (min-width: 782px) {
		.wpn-container {
			padding: 0 30px;
		}
	}

	// Header
	.wpn-header {
		background: var(--wp-admin-theme-color);
		height: 60px;
		font-size: 14px;
		display: flex;
		align-items: center;

		.wpn-header-content {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.wpn-logo {
				display: inline-flex;
				flex: 1 0 auto;
				align-items: center;
				height: 30px;

				a {
					display: inherit;
				}

				svg {
					width: auto;
					height: 24px;
				}
			}

			.wpn-links {
				display: flex;
				align-items: center;

				a {
					font-weight: 400;
					font-size: 14px;
					color: #fff;
					display: flex;
					align-items: center;
				}

				a.wpn-help {
					margin-right: 20px;
				}

				svg {
					width: 20px;
					height: 20px;
					margin: 0 6px 0 0;
					fill: #fff;
				}
			}
		}

	}

	// Navigation
	.wpn-navigation {
		margin: 30px 0;
		background: #fff;
		border: 1px solid var(--wp-admin-theme-border-color);

		.wpn-section-nav {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			min-height: 40px;

			ul {
				margin: 0;
				padding: 0 0 0 15px;
				display: flex;

				li {

					display: flex;
					margin: 0;
					padding: 0 15px;
				}

				li>a {
					width: auto;
					display: flex;
					font-size: 14px;
					font-weight: 400;
					overflow: hidden;
					text-overflow: ellipsis;
					padding: 15px 0 !important;
					white-space: nowrap;
					opacity: 1;
				}

				a:focus {
					box-shadow: none !important;
					outline: 0 !important;
				}

				a.is-active {
					color: #222 !important;
					border-bottom: 3px solid #222 !important;
				}
			}

		}

	}

	// Main
	.wpn-settings-main {

		.components-panel__body>.components-panel__body-title:hover {
			background: #ffffff;
		}

		.components-panel__body>.components-panel__body-title {
			display: flex;
			align-items: center;
			height: 70px;
			border-bottom: 1px solid var(--wp-admin-theme-border-color);
		}

		.components-panel__body {
			margin: 30px 0;
			background: #ffffff;
			border: 1px solid var(--wp-admin-theme-border-color);

			.components-panel__body-toggle {
				font-weight: 600;
				font-size: 18px;
			}

			.components-panel__row {
				margin-top: 0px;
				margin-left: 15px;
				margin-right: 15px;
				padding: 30px 0;
				align-items: flex-start;
				flex: 0 1 auto;
				border-bottom: 1px solid var(--wp-admin-theme-border-color);

				.wpn-settings-name {    
					flex-basis: 25%;
					max-width: 25%;
					
					.name {
						font-weight: 600;
						font-size: 16px;
						display: flex;
						align-items: center;
					}
				}

				.wpn-control-field {
					flex-basis: 75%;
					max-width: 75%;
				}

			}

			.wpn-row-multi-control.components-panel__row {
				.wpn-fieldset {

					margin-top: 1rem;
					margin-left: 1rem;
					font-weight: 600;
					font-size: 16px;

					.components-radio-control__option:not(:last-child) {
						margin-bottom: 1rem;
					}

				}
			}

			.components-panel__row:last-child {
				border-bottom: none;
			}

		}

		.wpn-panel-title-only.components-panel__body.is-opened {
			padding-bottom: 0;
		}

		.wpn-panel-title-only.components-panel__body.is-opened .wpn-panel-title {
			margin-bottom: 0 !important;
			border-bottom: 0 !important;
		}

		.wpn-boxes {
			margin-left: -30px;
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap;
		}
	}
	// Time Picker
	.wpn-time-picker {
		margin-top: 1rem;
		display: flex;
		align-items: center;

		label {
			margin-right: 6px;
			font-size: 14px;
			font-weight: 400;
		}

		.react-time-picker:not(:last-child) {
			margin-right: 1rem;
		}

		.react-time-picker__wrapper {
			padding: 5px;
			border: none;
		}

		.react-time-picker__inputGroup {
			border: 1px solid #C1C2CF;
		}

		.react-time-picker__inputGroup__input {
			border: 0;
			width: 36px !important;
			text-align: center;
			border-radius: 0;
			font-size: 14px;
		}

		.react-time-picker__inputGroup__minute {
			border-right: 1px solid #C1C2CF;
		}

		.react-time-picker__inputGroup__amPm {
			width: 55px !important;
			border-radius: 0;
			background: transparent url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
			background-size: 12px 12px;
		}

		.react-time-picker__inputGroup__input:focus {
			border: 0;
			box-shadow: none;
		}

		.react-time-picker__inputGroup__divider {
			width: 10px !important;
			color: #C1C2CF;
		}
	}
	// Footer
	.wpn-footer {
		border-bottom: 1px solid var(--wp-admin-theme-border-color);
		border-top: 1px solid var(--wp-admin-theme-border-color);
		margin-top: auto;
		margin: 2rem auto 1.5rem;
		padding: 20px;
		text-align: center;

		.wpn-footer-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.wpn-signature {
			font-weight: 600;
			font-size: 14px;
			display: flex;
			align-items: center;
		}
	}
}

body[class*=wp-nightly-dashboard].admin-bar .wpn-header {
	top: 32px !important;
	left: 160px !important;
}

// WPNightly Radio Button Component
#wp-nightly .wpn-radio-container-control {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 15px;
	row-gap: 15px;
	padding: 0;
	border: 0;
}

#wp-nightly .wpn-radio-container-control .components-button.is-tertiary {
	flex: 1 1 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	height: 60px;
	margin: 0;
	padding: 4px;
	border-radius: 3px;
	background: transparent;
	box-shadow: none;
}

#wp-nightly .wpn-floating-switch .components-button.is-tertiary {
	height: 80px;
	width: 80px;
	padding: 15px !important;
	border-radius: 9px;
	background: var(--wp-admin-theme-secondary-color);
}

#wp-nightly .wpn-floating-switch .components-button.is-tertiary.active-radio, 
#wp-nightly .wpn-color-scheme .components-button.is-tertiary.active-radio{
	border: 2px solid var(--wp-admin-theme-color);
	background: transparent !important;
}

#wp-nightly .wpn-color-scheme .wpn-radio-container-control {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

#wp-nightly .wpn-color-scheme .components-button.is-tertiary {
	height: 80px;
	border-radius: 9px;
	background: var(--wp-admin-theme-secondary-color);
	padding: 10px !important;
	flex-direction: column !important;
	align-items: center;
	justify-content: center;
}

#wp-nightly .wpn-color-scheme .wpn-radio-name {
	color: var(--wp-admin-theme-black-color);
	margin-bottom: 5px;
}

// .wpn-pro-feature {
// 	opacity: 0.7;
//     pointer-events: none;
// }
